:focus {
    border: 2px solid red;
}
body {
    background-color: $white;

    height: 100vh;
    padding-bottom: 4.875rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: url(../../../assets/bg-path.svg) fixed 67% -5% no-repeat $white;
    background-size: 138% 110%;
    position: fixed;
    width: 100%;
    &::after {
        content: url(../../../assets/circle.svg#circle);
        position: absolute;
        left: -4rem;
        top: 16.3%;
        width: 10.5rem;
        height: 10.5rem;
        z-index: -1;
    }
}
.wrapper {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-basis: 79%;
    justify-content: flex-end;
}
header {
    flex-basis: 21%;
    text-align: center;
    padding: 3.85rem 0;
    background-color: $secondaryColor;
    position: relative;
    border-bottom: 4px solid $black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &::before, &::after {
        position: absolute;
        width: 30%;
        min-width: 15rem;
        max-width: 25rem;
    }
    &::before {
        content: url(../../../assets/top\-lines.svg);
        right: -2rem;
        top: 12.5%;
    }
    &::after {
        content: url(../../../assets/bottom-lines.svg);
        bottom: 5%;
        left: -3.25rem;
    }
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 80.75%;
    border: 5px solid $black;
    border-radius: 1.25rem;
    overflow: hidden;
    background: $black;
    &::before, &::after {
        content: url(../../../assets/circle.svg#circle);
        position: absolute;
        width: 10.5rem;
        height: 10.5rem;
        z-index: -1;
    }
    &::before {
        right: -3.6rem;
        top: 60.5%;
        transform: scaleX(-1);
    }
    &::after {
        left: 9%;
        bottom: -5rem;
        transform: scaleY(-1) scaleX(-1);
    }
}
.chatlog {
    background-color: $grey;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $primaryColor $grey;
    border-radius: 0 0 .75rem .75rem;
}
li {
    background-color: $primaryColor;
    margin: 0 1.1rem 1rem;
    padding: .75rem 1rem;
    border-radius: 1.5rem;
    position: relative;
    border: 4px solid $black;
    transition: all .25s ease;
    .time {
        transform: translateX(-20%);
        opacity: 0;
        transition: all .45s ease-out;
    }    
    &.selected {
        margin: 0 1.1rem 3rem;
        filter: brightness(85%);
        &:last-of-type {
            margin-bottom: 3.5rem;
        }
        .time {
            transform: translateX(0);
            opacity: 1;
        }
    }
    &:hover {
        filter: brightness(85%);
    }
}

form.sendMessage {
    display: flex;
    margin: 1.28rem;
    background-color: $black;
    position: relative;
}
input {
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 50rem;
}
button, .deleteMessage {
    background-color: $accentColor;
    border: none;
    position: absolute;
    right: -4px;
    top: -4px;
    bottom: -4px;
    width: 6.6rem;
    border-radius: 50%;
    border: 4px solid $black;
}
.deleteMessage {
    position: absolute;
    top: -4px;
    right: -4px;
    max-height: 2.5rem;
    min-height: 2.5rem;
    max-width: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-bottom-left-radius: 37.5%;
    color: $black;
    padding: 2%;
    transform: translateY(0);
    text-shadow: 0 0 0 $black;
    &:hover {
        i {
            text-shadow: 0 0.75px 0 $black;
            transform: translateY(-0.75px);
        }
    }
    transition: all .25s ease;
}
.time {
    text-align: right;
    position: absolute;
    bottom: -2rem;
    left: 8%;
}
.date {
    margin-right: 2rem;
    @media (max-width: 450px) {
        margin-right: .5rem;
    }
}
.news {
    width: 100%;
    margin-bottom: 1.25rem;
    flex-basis: 13.3%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
    &.logged-in {
        overflow: unset;
        &::before, &::after {
            content: none;
        }
        div {
            background: repeating-linear-gradient(120deg, #225772 -15% 20%, #336782 20% 55%);
            &:last-of-type {
                background: repeating-linear-gradient(120deg, #B3ADAD -10% 20%, #9F9696 20% 50%);
            }
        }
        div, a {
            border-radius: 1rem;
            border: 4px outset $black;
            margin: 0 2%;
            &::after {
                content: none;
            }
            &:first-child {
                margin-left: unset;
            }
        }
        a {
            background: repeating-linear-gradient(120deg, #00CECB -10% 15%, #06B3B3 15% 40%);
            margin-right: unset;
            transform: translate(0,0);
            box-shadow: 0 0 0 $accentColor;
            transition: all .5s ease;
            &:hover, &:focus-within {
                box-shadow: 4px 3px 0 $accentColor;
                transform: translate(-4px, -3px);
            }
        }
        nav {
            height: 100%;
            padding: unset;
        }
        div, div p {
            display: flex;
            flex-direction: column;
        }
        span {
            margin: .5rem 0;
        }
    }
    &::before, &::after {
        content: '';
        background-color: $white;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        left: 50%;
        margin-left: -1.25rem;
        border-radius: 33%;
    }
    &::before {
        top: -1.35rem;
        box-shadow: 0px 10.5rem 0px 200.5rem $black;
        background-color: transparent;
    }
    &::after {
        bottom: -1.35rem;
    }
    div, a {
        background-color: $accentColor;
        width: 42%;
        border-radius: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22.5' ry='22.5' stroke='%23FFFFEA' stroke-width='5' stroke-dasharray='13%25%2c 20%25' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
            border-radius: 100px;   
        }
    }
    div {
        background: repeating-linear-gradient(52deg, #C0BBBB -12% 22%, #D6D6D6 22% 52%);
    }
    a {
        background: repeating-linear-gradient(51deg, #FFE167 -10% 20%, #FFED66 20% 50%);
        transform: translate(0,0);
        box-shadow: 0 0 0 $accentColor;
        transition: all .5s ease;
        &:hover, &:focus-within {
            box-shadow: 4px 3px 0 $primaryColor;
            transform: translate(-4px, -3px);
        }
    }
}

nav {
    height: 60%;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 7.5%;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.hidden, .news .hidden {
    display: none;
    div, a {
        background-color: transparent;
    }
}
 .onlineUsers {
     margin-left: .5rem;
 }

 .messageHeader {
     display: flex;
     justify-content: space-between;
     width: 96%;
     padding-bottom: .75rem;
 }