body, nav a {
    color: $black;
    font-family: $bodyFont;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 0;
}

h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
}

span, h1, button, nav, nav a, .userInfo {
    font-family: $accentFont;
}

.userInfo {
    font-size: 1.2rem;
}

button {
    font-size: 1.8rem;
}

.deleteMessage {
    font-size: 1.6rem;
}