a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1250px;
  width: 88%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  color: #003049;
  font-family: lieberuth, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0;
}

h1 {
  font-size: 5.6rem;
  text-transform: uppercase;
}

span, h1, .userInfo, .date {
  font-family: ff-dax-compact-pro, sans-serif;
}

.userInfo, .time, .date {
  font-size: 1.2rem;
}

.userInfo {
  text-transform: capitalize;
}

button {
  font-size: 2.5rem;
}
button:hover {
  color: #FF5E5B;
}

.deleteMessage {
  font-size: 1.1rem;
}

.news {
  font-family: ff-dax-compact-pro, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}
.news.logged-in div {
  font-family: lieberuth, sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 1.1rem;
}
.news.logged-in span, .news.logged-in a {
  color: #FFED66;
  font-size: 2.4rem;
}
.news span {
  font-family: ff-dax-compact-pro, sans-serif;
}

:focus {
  border: 2px solid red;
}

body {
  background-color: #FFFFEA;
  height: 100vh;
  padding-bottom: 4.875rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url(../../../assets/bg-path.svg) fixed 67% -5% no-repeat #FFFFEA;
  background-size: 138% 110%;
  position: fixed;
  width: 100%;
}
body::after {
  content: url(../../../assets/circle.svg#circle);
  position: absolute;
  left: -4rem;
  top: 16.3%;
  width: 10.5rem;
  height: 10.5rem;
  z-index: -1;
}

.wrapper {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: 79%;
  justify-content: flex-end;
}

header {
  flex-basis: 21%;
  text-align: center;
  padding: 3.85rem 0;
  background-color: #00CECB;
  position: relative;
  border-bottom: 4px solid #003049;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header::before, header::after {
  position: absolute;
  width: 30%;
  min-width: 15rem;
  max-width: 25rem;
}
header::before {
  content: url(../../../assets/top\-lines.svg);
  right: -2rem;
  top: 12.5%;
}
header::after {
  content: url(../../../assets/bottom-lines.svg);
  bottom: 5%;
  left: -3.25rem;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 80.75%;
  border: 5px solid #003049;
  border-radius: 1.25rem;
  overflow: hidden;
  background: #003049;
}
main::before, main::after {
  content: url(../../../assets/circle.svg#circle);
  position: absolute;
  width: 10.5rem;
  height: 10.5rem;
  z-index: -1;
}
main::before {
  right: -3.6rem;
  top: 60.5%;
  transform: scaleX(-1);
}
main::after {
  left: 9%;
  bottom: -5rem;
  transform: scaleY(-1) scaleX(-1);
}

.chatlog {
  background-color: #D8D8D8;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #FF5E5B #D8D8D8;
  border-radius: 0 0 0.75rem 0.75rem;
}

li {
  background-color: #FF5E5B;
  margin: 0 1.1rem 1rem;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  position: relative;
  border: 4px solid #003049;
  transition: all 0.25s ease;
}
li .time {
  transform: translateX(-20%);
  opacity: 0;
  transition: all 0.45s ease-out;
}
li.selected {
  margin: 0 1.1rem 3rem;
  filter: brightness(85%);
}
li.selected:last-of-type {
  margin-bottom: 3.5rem;
}
li.selected .time {
  transform: translateX(0);
  opacity: 1;
}
li:hover {
  filter: brightness(85%);
}

form.sendMessage {
  display: flex;
  margin: 1.28rem;
  background-color: #003049;
  position: relative;
}

input {
  width: 100%;
  border: none;
  padding: 2rem;
  border-radius: 50rem;
}

button, .deleteMessage {
  background-color: #FFED66;
  border: none;
  position: absolute;
  right: -4px;
  top: -4px;
  bottom: -4px;
  width: 6.6rem;
  border-radius: 50%;
  border: 4px solid #003049;
}

.deleteMessage {
  position: absolute;
  top: -4px;
  right: -4px;
  max-height: 2.5rem;
  min-height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-bottom-left-radius: 37.5%;
  color: #003049;
  padding: 2%;
  transform: translateY(0);
  text-shadow: 0 0 0 #003049;
  transition: all 0.25s ease;
}
.deleteMessage:hover i {
  text-shadow: 0 0.75px 0 #003049;
  transform: translateY(-0.75px);
}

.time {
  text-align: right;
  position: absolute;
  bottom: -2rem;
  left: 8%;
}

.date {
  margin-right: 2rem;
}
@media (max-width: 450px) {
  .date {
    margin-right: 0.5rem;
  }
}

.news {
  width: 100%;
  margin-bottom: 1.25rem;
  flex-basis: 13.3%;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1.25rem;
}
.news.logged-in {
  overflow: unset;
}
.news.logged-in::before, .news.logged-in::after {
  content: none;
}
.news.logged-in div {
  background: repeating-linear-gradient(120deg, #225772 -15% 20%, #336782 20% 55%);
}
.news.logged-in div:last-of-type {
  background: repeating-linear-gradient(120deg, #B3ADAD -10% 20%, #9F9696 20% 50%);
}
.news.logged-in div, .news.logged-in a {
  border-radius: 1rem;
  border: 4px outset #003049;
  margin: 0 2%;
}
.news.logged-in div::after, .news.logged-in a::after {
  content: none;
}
.news.logged-in div:first-child, .news.logged-in a:first-child {
  margin-left: unset;
}
.news.logged-in a {
  background: repeating-linear-gradient(120deg, #00CECB -10% 15%, #06B3B3 15% 40%);
  margin-right: unset;
  transform: translate(0, 0);
  box-shadow: 0 0 0 #FFED66;
  transition: all 0.5s ease;
}
.news.logged-in a:hover, .news.logged-in a:focus-within {
  box-shadow: 4px 3px 0 #FFED66;
  transform: translate(-4px, -3px);
}
.news.logged-in nav {
  height: 100%;
  padding: unset;
}
.news.logged-in div, .news.logged-in div p {
  display: flex;
  flex-direction: column;
}
.news.logged-in span {
  margin: 0.5rem 0;
}
.news::before, .news::after {
  content: "";
  background-color: #FFFFEA;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  left: 50%;
  margin-left: -1.25rem;
  border-radius: 33%;
}
.news::before {
  top: -1.35rem;
  box-shadow: 0px 10.5rem 0px 200.5rem #003049;
  background-color: transparent;
}
.news::after {
  bottom: -1.35rem;
}
.news div, .news a {
  background-color: #FFED66;
  width: 42%;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.news div::after, .news a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22.5' ry='22.5' stroke='%23FFFFEA' stroke-width='5' stroke-dasharray='13%25%2c 20%25' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
}
.news div {
  background: repeating-linear-gradient(52deg, #C0BBBB -12% 22%, #D6D6D6 22% 52%);
}
.news a {
  background: repeating-linear-gradient(51deg, #FFE167 -10% 20%, #FFED66 20% 50%);
  transform: translate(0, 0);
  box-shadow: 0 0 0 #FFED66;
  transition: all 0.5s ease;
}
.news a:hover, .news a:focus-within {
  box-shadow: 4px 3px 0 #FF5E5B;
  transform: translate(-4px, -3px);
}

nav {
  height: 60%;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 7.5%;
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.hidden, .news .hidden {
  display: none;
}
.hidden div, .hidden a, .news .hidden div, .news .hidden a {
  background-color: transparent;
}

.onlineUsers {
  margin-left: 0.5rem;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding-bottom: 0.75rem;
}
