$black: #003049;
$white: #FFFFEA;
$grey: #D8D8D8;
$primaryColor: #FF5E5B;
$secondaryColor: #00CECB;
$accentColor: #FFED66;

$accentFont: 'Bungee Inline', cursive;
$bodyFont:  'Roboto Slab', serif;
